

{% extends 'master.html'%}
 
{% block content %}   



    <div class="container mt-1">
    <div class="row row-cols-1 row-cols-md-3 g-2">


    <div class="card mx-auto" style="width: 30rem;">
        <img src="https://image.freepik.com/free-vector/blank-id-card-template_7547-290.jpg" class="card-img-top mx-auto" alt="..."width="300" height="300">
        <div class="card-body">
          <h5 class="card-title">Persons Details</h5>
        </div>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">Name :{{p.name}}</li>
          <li class="list-group-item">Emp ID:{{p.eid}}</li>
          <li class="list-group-item">Address:{{p.address}}</li>
          <li class="list-group-item">dob:{{p.dob}}</li>
          <li class="list-group-item">email{{p.email}}</li>
          <li class="list-group-item">mob:{{p.mob}}</li>
          
          <a href="updatepage/" class="btn btn-primary mt-3">Update</a>
          <a href="delete/" class="btn btn-danger mt-3">Delete</a>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
     

      {% endblock %}
